@charset "UTF-8";

@media screen and (min-width: 992px) and (max-width: 1200px) {
    :root {
        --cinzaClaro: #EAEAEA;
        --cinzaEscuro: #333333;
        --azulClaro: #2690D4;
    }  

    body {
        background-color: red;
    }
    
    div.imagem {
        height: 445px;
        width: 1200px;
    }
    
    .segunda-parte > div {
        width: 1200px;
    }
    
    section.terceira-parte {
        width: 1200px;
    }
    
    div.comImagem02 {
        width: 1200px;
    }
    
    div.comImagem03 {
        width: 1200px;
    }
    
    section.quarta-parte > div.digital {
        width: 1200px;
    }
    
    .quinta-parte {
        width: 1200px;
    }
    
    .sexta-parte {
        width: 1200px;
    }
    
    footer {
        width: 1200px;
    }
}