@charset "UTF-8";

/* Mobile First  - telefones pequenos*/

/* Extra small devices (telefones pequenos): Até 576px de largura.

Small devices (telefones maiores e tablets pequenos): De 576px até 768px de largura.

Medium devices (tablets e desktops pequenos): De 768px até 992px de largura.

Large devices (desktops maiores): De 992px até 1200px de largura.

Extra large devices (telas grandes e monitores): Acima de 1200px de largura. */

:root {
    --cinzaClaro: #EAEAEA;
    --cinzaEscuro: #333333;
    --azulClaro: #2690D4;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: white;
}


div.imagem {
    background: url('../imagens/fundo-css.jpg') no-repeat right center;
    background-size: cover;
    color: white;
    height: 445px;
    width: 576px;
    padding: 10px;
}

div.imagem > h1 {
    text-align: center;
    padding-top: 118px;
    font-size: 2em;
}

div.imagem > h1:hover {
    text-decoration: underline;
}

div.imagem > p {
    font-size: 18px;
    line-height: 1.5em;
    max-width: 100%;
    margin: 10px;
    margin-top: 3px;
    padding: 20px;
    text-align: center;
}

div.imagem > a {
    background-color: var(--cinzaEscuro);
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    border: 1px solid var(--cinzaClaro);
    padding: 20px;
    width: 158px;
    height: 61px;
}

div.imagem > a:hover {
    background-color: var(--cinzaClaro);
    color: var(--cinzaEscuro);
}

.segunda-parte > div {
    background-color: var(--cinzaClaro);
    width: 576px;
    height: 325px;
    padding: 30px;
}

.segunda-parte h2 {
    color: var(--cinzaEscuro);
    text-align: center;
    margin-top: 6px;
    margin-bottom: 53px;
}

.segunda-parte p {
    font-size: 18px;
    line-height: 1.5em;
    text-align: center;
}

section.terceira-parte {
    background-color: var(--cinzaEscuro);
    height: 625px;
    width: 576px;
}

section.terceira-parte > div.comImagem01 {
    background: var(--cinzaEscuro) url('../imagens/web-developer.jpg') no-repeat;
    background-size: cover;
    height: 316px;
}

div.tituloEtxt {
    background-color: white;
    text-align: center;
}

div.tituloEtxt > h2 {
    padding-top: 46px;
    padding-bottom: 46px;
}

div.tituloEtxt > p {
    padding-bottom: 46px;
}